<ul class="photo-list">
  <li ng-click="fn.touchImage()" ngSwipeRight="fn.swipeImage()">
    <img src="http://www.w3schools.com/images/w3html.gif">
    <span class="photo-time">1999-02-02</span>
  </li>
  <li class="list-divider">Woo</li>
  <li ng-click="fn.touchImage()" class="list-item-single-line"><a>333333</a></li>
  <li ng-click="fn.touchImage()" class="list-item-single-line"><a>333333</a></li>
  <li ng-click="fn.touchImage()" class="list-item-single-line"><a>333333</a></li>
  <li ng-click="fn.touchImage()" class="list-item-single-line"><a>333333</a></li>
</ul>