<div class="grid">

  <ul id="photo-list" class="photo-list">
    <!-- These are our grid blocks -->
    <li><img ng-click="fn.clickImage()" src="http://www.w3schools.com/images/w3html.gif" ></li>
    <li><img ng-click="fn.clickImage()" src="http://www.w3schools.com/images/w3html.gif" ></li>
    <li><img ng-click="fn.clickImage()" src="http://www.w3schools.com/images/w3html.gif" ></li>
    <li><img ng-click="fn.clickImage()" src="http://www.w3schools.com/images/w3html.gif" ></li>
    <li><img ng-click="fn.clickImage()" src="http://www.w3schools.com/images/w3html.gif" ></li>
    <li><img ng-click="fn.clickImage()" src="http://www.w3schools.com/images/w3html.gif" ></li>
    <li><img ng-click="fn.clickImage()" src="http://www.w3schools.com/images/w3html.gif" ></li>
    <li><img ng-click="fn.clickImage()" src="http://www.w3schools.com/images/w3html.gif" ></li>
    <li><img ng-click="fn.clickImage()" src="http://www.w3schools.com/images/w3html.gif" ></li>   
    <!-- End of grid blocks -->
  </ul>

</div>