<div class="page">
    <header class="action-bar fixed-top">
      <a target="_self" class="app-icon action up">
        <i class="icon-memories"></i>
      </a>
      <h2 class="title">Memories <span class="subtitle">Photo List</span></h2>
      <ul class="actions pull-right">
          <li><a href="" class="action" title="Camera"><i class="icon-camera"></i></a></li>
          <li><a href="" class="action" title="Settings"><i class="icon-settings"></i></a></li>
      </ul>
    </header>

    <div class="content inset">
      <ul class="list inset">
          <li class="list-divider">Woo</li>
          <li class="list-item-single-line"><a href="#/detail">333333</a></li>
          <li class="list-item-single-line"><a href="#/detail">333333</a></li>
          <li class="list-item-single-line"><a href="#/detail">333333</a></li>
          <li class="list-item-single-line"><a href="#/detail">333333</a></li>
      </ul>
    </div>
</div>