<ons-page class="center main" ng-controller="MainCtrl">
	<!-- <h3>Home</h3> -->
	<h3 ng-show="fn.isEmpty()">{{data.emptyInfo}}</h3>
	<div class="photo-list">
		<ons-list>
		    <ons-list-item>
		        <h3>Photos:</h3>
		    </ons-list-item>

		    <ons-list-item>
		    	<img src="http://www.w3schools.com/images/w3logotest2.png"><span>1992-02-02 08:08:08</span>
		    </ons-list-item>

		    <ons-list-item ng-repeat="photo in data.photoList">
		    	<img ng-src="{{fn.getThumbail($index)}}"><span>{{fn.getTime($index)}}</span>
		    </ons-list-item>
		</ons-list>
	</div>
	</p>
	<p ng-show="fn.isEmpty()">{{data.menuTip}}</p>
	<img ng-show="fn.isEmpty()" src="images/ico_swipe_right_s.png" alt="">

</ons-page>