<div ng-controller="MenuCtrl">
<ons-page>
	<ul class="fa-ul">
		<ons-list-item 
			class="topcoat-list__item_active"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('views/main.html')">
			<i class="fa-li fa fa-home fa-lg" style="top: 25%"></i>
			主页
		</ons-list-item>

		<ons-list-item 
			class="topcoat-list__item_active"
			ng-click="fn.takePhoto()">
			<i class="fa-li fa fa-camera fa-lg" style="top: 25%"></i>
			拍照
		</ons-list-item>

<!-- 		<ons-list-item 
			class="topcoat-list__item_active"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('views/camera.html')">
			<i class="fa-li fa fa-camera fa-lg" style="top: 25%"></i>
			拍照
		</ons-list-item> -->

		<ons-list-item 
			class="topcoat-list__item_active"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('views/config.html')">
			<i class="fa-li fa fa-gear fa-lg" style="top: 25%"></i>
			设置
		</ons-list-item>

	</ul>

</ons-page>
</div>