<div class="setting inset">
  <label class="block-label">Save photo in gallery</label>
  <div class="flex-group">
    <label class="input-switch-wrapper">
      <input type="checkbox" class="input-switch">
      <div class="input-switch-outer">
        <div class="input-switch-inner">
          <div class="input-switch-button"></div>
        </div>
      </div>
    </label>
  </div>

  <label class="block-label">Photo Quality</label>
  <div class="flex-group">
    <label class="input-radio-wrapper">
      <input type="radio" name="test" class="input-radio">
      <div class="input-radio-inner">
        <div class="input-radio-button"></div>
      </div>
    </label>

    <label class="input-radio-wrapper">
      <input type="radio" name="test" class="input-radio" id="test-radio2">
      <div class="input-radio-inner">
        <div class="input-radio-button"></div>
      </div>
    </label>

    <label class="input-radio-wrapper">
      <input type="radio" name="test" class="input-radio">
      <div class="input-radio-inner">
        <div class="input-radio-button"></div>
      </div>
    </label>    
  </div>
</div>