.onsen_navigator-title {
	font-size: 150%;
}

/* list page */
.list .photo-list li {
	position: relative;
	line-height: 52px;
}
.list .photo-list li img {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 8%;
}
.list .photo-list li span {
	position: absolute;
	right: 8%;
	bottom: 2%;
}