ul { list-style-type: none;  }
ol { list-style-type: none;  }

#tiles { overflow-y: scroll; }

.action .icon-up-button {
	margin-right: 2px;
}
.action .icon-memories {
	background: url('../images/icon.png') 0 0 no-repeat;
	margin-right: 3px;
	margin-left: 3px;
}

.ng-click-active {
	background-color: #5ef2f9;
}

#exit-dialog .dialog-content p,
#exit-dialog .dialog-actions a {
	font-size: 110%;
}

/* list page */
/*.grid-sizer { width: 33%; }*/
/*.list .photo-list li {
	position: relative;
	line-height: 52px;
}
.list .photo-list li img {
	width: 65px;
	height: 65px;
	position: absolute;
	left: 8%;
}
.list .photo-list li .photo-time {
	position: absolute;
	right: 18%;
	bottom: 2%;
}
.list .photo-list li .del-select {
	position: absolute;
	right: 5%;
	bottom: 5%;
}*/
