.onsen_navigator-title {
	font-size: 150%;
}

/* list page */
.list .photo-list li {
	position: relative;
	line-height: 52px;
}
.list .photo-list li img {
	width: 65px;
	height: 65px;
	position: absolute;
	left: 8%;
}
.list .photo-list li .photo-time {
	position: absolute;
	right: 18%;
	bottom: 2%;
}
.list .photo-list li .del-select {
	position: absolute;
	right: 5%;
	bottom: 5%;
}
